body {
  margin: 0;
  padding: 0;
  background-color: #fff; /* Default background color */
  transition: background-color 0.3s;
}



.home {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #fff; /* Default background color */
}

.home-left {
  flex: 1;
  position: relative;
}

.background-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.home-right {
  flex: 1;
  padding: 40px;
  text-align: center;
  background-color: #fff;
}

.home-right h1 {
  font-size: 3em;
  color: #333;
  margin-bottom: 20px;
}

.home-right h4 {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 40px;
}

.reach-out h3 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-icons a {
  color: #333;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: tomato;
}
