.register-page {
    background-color: rgb(244, 65, 65);
    color: rgb(15, 15, 15);
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin: 10px 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  fieldset {
    border: none;
    margin: 10px 0;
  }
  
  legend {
    font-weight: bold;
  }
  
  label input[type="radio"] {
    margin-right: 5px;
  }
  
  .submit-button {
    background-color: rgb(49, 18, 252);
    color: rgb(18, 18, 18);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: darkred;
  }
  
  .back-button {
    background-color: transparent;
    color: rgb(15, 15, 15);
    border: 1px solid rgb(17, 17, 17);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .back-button:hover {
    background-color: white;
    color: red;
  }
  
  .error {
    color: lightcoral;
  }
  